.head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 98px; /* define fixed height */
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.container-fluid.head.changes {
  display: none;
  transition: all 0.3s ease;  
}

